<h1 id="mcetoc_1gv5g983hc2" style="text-align: center;">分銷商申請單</h1>
<p style="text-align: center;">&nbsp;</p>
<table style="border-collapse: collapse; width: 100%;" border="1">
  <tbody>
    <tr>
      <td style="width: 14.387%;">&nbsp;</td>
      <td style="width: 61.1816%;">
        <div class="ahS2Le">&nbsp;</div>
        <p>加入日期:</p>
        <table style="border-collapse: collapse; width: 100%;" border="1">
          <tbody>
            <tr>
              <td style="width: 100%;">&nbsp;</td>
            </tr>
          </tbody>
        </table>
        <p>總公司:</p>
        <table style="border-collapse: collapse; width: 100%;" border="1">
          <tbody>
            <tr>
              <td style="width: 100%;">&nbsp;</td>
            </tr>
          </tbody>
        </table>
        <p>合作公司:</p>
        <table style="border-collapse: collapse; width: 100%;" border="1">
          <tbody>
            <tr>
              <td style="width: 100%;">&nbsp;</td>
            </tr>
          </tbody>
        </table>
        <p>&nbsp;經銷商帳號:</p>
        <table style="border-collapse: collapse; width: 100%;" border="1">
          <tbody>
            <tr>
              <td style="width: 100%;">&nbsp;</td>
            </tr>
          </tbody>
        </table>
        <p>&nbsp;分銷商帳號:</p>
        <table style="border-collapse: collapse; width: 100%;" border="1">
          <tbody>
            <tr>
              <td style="width: 100%;">&nbsp;</td>
            </tr>
          </tbody>
        </table>
        <p>分銷商網站密碼:</p>
        <table style="border-collapse: collapse; width: 100%;" border="1">
          <tbody>
            <tr>
              <td style="width: 100%;">&nbsp;</td>
            </tr>
          </tbody>
        </table>
        <p>申請人姓名:</p>
        <table style="border-collapse: collapse; width: 100%;" border="1">
          <tbody>
            <tr>
              <td style="width: 100%;">&nbsp;</td>
            </tr>
          </tbody>
        </table>
        <p>申請人行動電話:</p>
        <table style="border-collapse: collapse; width: 100%;" border="1">
          <tbody>
            <tr>
              <td style="width: 100%;">&nbsp;</td>
            </tr>
          </tbody>
        </table>
        <p>Line ID:</p>
        <table style="border-collapse: collapse; width: 100%;" border="1">
          <tbody>
            <tr>
              <td style="width: 100%;">&nbsp;</td>
            </tr>
          </tbody>
        </table>
        <p>申請人通訊地址:</p>
        <table style="border-collapse: collapse; width: 100%;" border="1">
          <tbody>
            <tr>
              <td style="width: 100%;">&nbsp;</td>
            </tr>
          </tbody>
        </table>
        <p>申請人身份證正面拍照:</p>
        <p>上傳</p>
        <p>申請人身份證反面拍照:</p>
        <p>上傳</p>
        <p>申請人銀行帳戶拍照:</p>
        <p>上傳</p>
        <p>商品品項:</p>
        <table style="border-collapse: collapse; width: 100%;" border="1">
          <tbody>
            <tr>
              <td style="width: 100%;">&nbsp;</td>
            </tr>
          </tbody>
        </table>
        <p>單筆獎金:</p>
        <table style="border-collapse: collapse; width: 100%;" border="1">
          <tbody>
            <tr>
              <td style="width: 100%;">&nbsp;</td>
            </tr>
          </tbody>
        </table>
        <p>獎金小計:</p>
        <table style="border-collapse: collapse; width: 100%;" border="1">
          <tbody>
            <tr>
              <td style="width: 100%;">&nbsp;</td>
            </tr>
          </tbody>
        </table>
        <p>獎金總計:</p>
        <table style="border-collapse: collapse; width: 100%;" border="1">
          <tbody>
            <tr>
              <td style="width: 100%;">&nbsp;</td>
            </tr>
          </tbody>
        </table>
        <p><strong>分銷商補充說明:</strong></p>
        <div class="spb5Rd OIC90c">
          <div>
            <div>
              <h4>xxxxxxxxxxxxxxxxxxxxxxxxxxxxx</h4>
              <p>xxxxxxxxxxxxxxxx</p>
              <p>ccccccccccccccccc</p>
            </div>
          </div>
        </div>
      </td>
      <td style="width: 6.43131%;">&nbsp;</td>
    </tr>
  </tbody>
</table>
<p>&nbsp;</p>
<table style="border-collapse: collapse; width: 100%;" border="1">
  <tbody>
    <tr>
      <td style="width: 100%; text-align: center;"><span style="background-color: #0000ff;">送出</span></td>
    </tr>
  </tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>