<h1 id="mcetoc_1gv5g983hc2" style="text-align: center;">75吋 0元&nbsp;&nbsp;大電視 申 [<strong>辦</strong>] 同意書</h1>
<p style="text-align: center;">&nbsp;</p>
<table style="border-collapse: collapse; width: 100%;" border="1">
  <tbody>
    <tr>
      <td style="width: 13.7962%;">&nbsp;</td>
      <td style="width: 61.7724%;">
        <div class="ahS2Le">
          <h2 id="mcetoc_1gv5g983hc3" class="F9yp7e ikZYwf LgNcQe" dir="auto" role="heading" aria-level="1">30年有線電視&nbsp;首次 &nbsp; &nbsp;送大禮，續看+電影追劇&nbsp;&nbsp;75吋QLED 大電視真0元帶回家</h2>
        </div>
        <h2 id="mcetoc_1gv5g983hc4" class="cBGGJ OIC90c" dir="auto">活動期至08/30止</h2>
        <div class="ahS2Le">
            <img src="picture-1.jpg">
        </div>
        <p>加入日期:</p>
        <table style="border-collapse: collapse; width: 100%;" border="1">
          <tbody>
            <tr>
              <td style="width: 100%;">&nbsp;</td>
            </tr>
          </tbody>
        </table>
        <p>總公司:</p>
        <table style="border-collapse: collapse; width: 100%;" border="1">
          <tbody>
            <tr>
              <td style="width: 100%;">&nbsp;</td>
            </tr>
          </tbody>
        </table>
        <p>合作公司:</p>
        <table style="border-collapse: collapse; width: 100%;" border="1">
          <tbody>
            <tr>
              <td style="width: 100%;">&nbsp;</td>
            </tr>
          </tbody>
        </table>
        <p>&nbsp;經銷商:</p>
        <table style="border-collapse: collapse; width: 100%;" border="1">
          <tbody>
            <tr>
              <td style="width: 100%;">&nbsp;</td>
            </tr>
          </tbody>
        </table>
        <p>&nbsp;分銷商:</p>
        <table style="border-collapse: collapse; width: 100%;" border="1">
          <tbody>
            <tr>
              <td style="width: 100%;">&nbsp;</td>
            </tr>
          </tbody>
        </table>
        <p>申請人姓名:</p>
        <table style="border-collapse: collapse; width: 100%;" border="1">
          <tbody>
            <tr>
              <td style="width: 100%;">&nbsp;</td>
            </tr>
          </tbody>
        </table>
        <p>申請人行動電話:</p>
        <table style="border-collapse: collapse; width: 100%;" border="1">
          <tbody>
            <tr>
              <td style="width: 100%;">&nbsp;</td>
            </tr>
          </tbody>
        </table>
        <p>收件人姓名:</p>
        <table style="border-collapse: collapse; width: 100%;" border="1">
          <tbody>
            <tr>
              <td style="width: 100%;">&nbsp;</td>
            </tr>
          </tbody>
        </table>
        <p>收件人行動電話:</p>
        <table style="border-collapse: collapse; width: 100%;" border="1">
          <tbody>
            <tr>
              <td style="width: 100%;">&nbsp;</td>
            </tr>
          </tbody>
        </table>
        <p>安裝地址:</p>
        <table style="border-collapse: collapse; width: 100%;" border="1">
          <tbody>
            <tr>
              <td style="width: 100%;">&nbsp;</td>
            </tr>
          </tbody>
        </table>
        <p>Line ID:</p>
        <table style="border-collapse: collapse; width: 100%;" border="1">
          <tbody>
            <tr>
              <td style="width: 100%;">&nbsp;</td>
            </tr>
          </tbody>
        </table>
        <h2 id="mcetoc_1gv5g983hc5" class="meSK8 M7eMe" role="heading" aria-level="2"><strong>75吋0元大電視申辦補充說明:</strong></h2>
        <div class="spb5Rd OIC90c">
          <h4>1）需轉換為活動主辦方的網路有線電視由(民視集團四季線上授權提供,與您目前收看的內容相同)綁約3年</h4>
          <h4>2）需搭配Netflix(網飛)追劇,電影內容服務。</h4>
          <h4>3）以上有線電視頻道及追劇,電影內容服務,每月999元共36期。</h4>
          <h4>4）75吋QLED 0 元大電視申辦活動於05/01起至08/30止。</h4>
          <h4>5）申辦者需先支付3500元預定,75吋大電視,將於活動結束後,分批陸續運送至指定地點。</h4>
          <h4>6）申辦人需同意:預付之3500元將折抵運送裝機費用,其餘36個月月租費採季繳方式 ,申辦人於接獲大電視裝機通知後以線上刷卡支付大電視押金:6000元,並於電視送達前支付首季月租費用(月租費:999元採季繳方式按季支付),如未能於期限內完成上述程序,則申辦人視同放棄申辦,而已預付之3500元視同違約並沒收訂金方式處理,押金6000元將作為最後6個月的月租費抵扣。</h4>
          <div>
            <div>
              <h4>7)&nbsp; 此申辦單之產品所折抵之運送裝機費用3500元,為標準安裝不含壁掛工資及材料費</h4>
            </div>
          </div>
        </div>
      </td>
      <td style="width: 6.43131%;">&nbsp;</td>
    </tr>
  </tbody>
</table>
<p>&nbsp;</p>
<table style="border-collapse: collapse; width: 100%;" border="0">
  <tbody>
    <tr>
      <td style="width: 100%; text-align: center;"><span style="background-color: #0000ff;">送出</span></td>
    </tr>
  </tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
